#banner{
    background-image: url("https://img.restaurantguru.com/w312/h280/rc7a-Onpricei-Order-Food-Online-in-Bhopal-food.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}